<p id="notice"><%= notice %></p>

<h1>User Experiences</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_experiences.each do |user_experience| %>
      <tr>
        <td><%= user_experience.user_id %></td>
        <td><%= user_experience.experience_id %></td>
        <td><%= link_to 'Show', user_experience %></td>
        <td><%= link_to 'Edit', edit_user_experience_path(user_experience) %></td>
        <td><%= link_to 'Destroy', user_experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Experience', new_user_experience_path %>
