<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_experience.user_id %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @user_experience.experience_id %>
</p>

<%= link_to 'Edit', edit_user_experience_path(@user_experience) %> |
<%= link_to 'Back', user_experiences_path %>
